<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5level - %msg%n" />
<!-- <PatternLayout pattern="" /> -->
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
<!-- <Root level="off"> -->
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>
</Configuration>